@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Main';
  src: url('../../public/fonts/NeueMontreal-Regular.otf') format('opentype'); /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../../public/fonts/NeueMontreal-Bold.otf') format('opentype'); /* Bold */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../../public/fonts/NeueMontreal-Italic.otf') format('opentype'); /* Italic */
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../../public/fonts/NeueMontreal-BoldItalic.otf') format('opentype'); /* Bold Italic */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url(../../public/fonts/NeueMontreal-LightItalic.otf) format('opentype'); /* Light Italic */
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: NeueMontreal;
  src: url(../../public/fonts/NeueMontreal-Medium.otf) format('opentype'); /* Medium */
  font-weight: 500;
  font-style: normal;
}

